{% extends 'owner_final/owner_base.html' %}

{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>Profile</h2>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End All Title Box -->

      <!-- Start Contact Us  -->
      <div class="contact-box-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-sm-12">
              <div class="contact-form-right">
                <h2>User Update</h2>

                <form id="contactForm" action="{% url 'owner_change_password' %}" method="POST">
                    {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control"
                          id="name"
                          name="current_password"
                          placeholder="Current Password"
                          required
                          data-error="Please enter your current password"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="password"
                          placeholder="New Password"
                          id="password"
                          class="form-control"
                          name="password"
                          required
                          data-error="Please enter your New Password"
                        />
                        <p id="password1ValidText" style="font-size:10px; color: rgba(255, 0, 0, 0.966);"></p>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control"
                          id="confirmPassword"
                          name="confirmPassword"
                          placeholder="Confirm New Password"
                          required
                          data-error="Please confirm your newly entered Password"
                        />
                        <p id="password2ValidText" style="font-size:10px; color: rgba(255, 0, 0, 0.966);"></p>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="submit-button text-center">
                        <button class="btn hvr-hover" id="submit" type="submit">
                          Save
                        </button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="contact-info-left">
                <h2>User INFO</h2>
                <img
                  src="images/profile.jpg"
                  style="border-radius: 100%; max-height: 100px"
                  alt=""
                />
                <ul>
                  <li>
                    <p><i class="fas fa-id-card"></i>Username: {{user.first_name}} {{user.last_name}}</p>
                  </li>
                  <li>
                    <p><i class="fas fa-phone-square"></i>Phone: {{user.contact_number}}</p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-envelope"></i>Email: {{user.email}}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cart -->

{% endblock %}

{% block script %}
<script>
       // Email ID, username, password, and confirm password check
    const regForm = document.querySelector('#contactForm');
    const passReg = /^(?=.*?[a-z])(?!.*?[=?<>()'"\/\&]).{8,20}$/;
    const emailReg = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

    let passOne = regForm.elements.namedItem('password')
    let passTwo = regForm.elements.namedItem('confirmPassword')
	let button = document.getElementById('submit')

    passOne.addEventListener('input', validateReg);
    passTwo.addEventListener('input', validateReg);

    function validateReg(e) {

        let target = e.target;

        if (target.name == 'password') {
            let passValidity = document.getElementById('password1ValidText')
            if (passReg.test(target.value)) {
                target.classList.add('valid')
                target.classList.remove('invalid')
                passValidity.textContent = 'Password Secured';
                passValidity.classList.add('valid')
                passValidity.classList.remove('invalid')
				button.disabled = false;
            } else {
                target.classList.add('invalid')
                target.classList.remove('valid')
                passValidity.textContent = 'Password  must be at least 8 characters.';
                passValidity.classList.remove('valid')
                passValidity.classList.add('invalid')
				button.disabled = true;
            }
        }
        if (target.name == 'confirmPassword') {
            let pass2Validity = document.getElementById('password2ValidText');
            let pass1Value = document.getElementById('password').value;
            if (target.value == pass1Value) {
                pass2Validity.textContent = 'Passwords Matched';
                pass2Validity.classList.add('valid')
                pass2Validity.classList.remove('invalid')
				button.disabled = false;
            } else if (target.value == 0) {
                pass2Validity.textContent = ''
            } else {
                pass2Validity.textContent = 'Your passwords do not match'
                pass2Validity.classList.add('invalid')
                pass2Validity.classList.remove('valid')
				button.disabled = true;
            }
        }

    }


</script>

{% endblock %}