{% extends 'owner_final/owner_base.html' %}

{% block content %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>

          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div
              class="card-body profile-card pt-4 d-flex flex-column align-items-center"
            >
              <img
                src="{{user.image.url}}"
                alt="Profile"
                style="width: 200px;"

              />
              <h2>{{user.first_name}} {{user.last_name}}</h2>
              <h3>Owner</h3>
              <!-- <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="#" class="linkedin"
                  ><i class="bi bi-linkedin"></i
                ></a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button
                    class="nav-link active"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-overview"
                  >
                    Overview
                  </button>
                </li>

                <li class="nav-item">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-edit"
                  >
                    Edit Profile
                  </button>
                </li>

                <li class="nav-item">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-change-password"
                  >
                    Change Password
                  </button>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <div
                  class="tab-pane fade show active profile-overview"
                  id="profile-overview"
                >
                  <h5 class="card-title">About</h5>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{user.first_name}} {{user.last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{user.contact_number}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>
                </div>

                <div
                  class="tab-pane fade profile-edit pt-3"
                  id="profile-edit"
                >
                  <!-- Profile Edit Form -->
                  <form action="{% url 'owner_profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label
                        for="profileImage"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Profile Image</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="image"
                          type="file"
                          class="form-control"
                          id="first_name"
                        />
                      </div>

                    </div>


                    <div class="row mb-3">
                      <label
                        for="fullName"
                        class="col-md-4 col-lg-3 col-form-label"
                        >First Name</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="first_name"
                          type="text"
                          class="form-control"
                          id="first_name"
                          value="{{user.first_name}}"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label
                        for="fullName"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Last Name</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="last_name"
                          type="text"
                          class="form-control"
                          id="last_name"
                          value="{{user.last_name}}"
                        />
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label
                        for="Phone"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Phone</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="contact"
                          type="number"
                          class="form-control"
                          id="Phone"
                          value="{{user.contact_number}}"
                        />
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label
                        for="Email"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Email</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="email"
                          type="email"
                          class="form-control"
                          value="{{user.email}}"
                        />
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">
                        Save Changes
                      </button>
                    </div>
                  </form>
                  <!-- End Profile Edit Form -->
                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form id="contactForm" action="{% url 'owner_change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label
                        for="currentPassword"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Current Password</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="current_password"
                          type="password"
                          class="form-control"
                          id="currentPassword"
                        />
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label
                        for="newPassword"
                        class="col-md-4 col-lg-3 col-form-label"
                        >New Password</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="password"
                          type="password"
                          class="form-control"
                          id="password"
                        /><br>
                        <p id="password1ValidText" style="font-size:10px; color: rgba(255, 0, 0, 0.966);"></p>
                      </div>

                    </div>

                    <div class="row mb-3">
                      <label
                        for="renewPassword"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Re-enter New Password</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="confirmPassword"
                          type="password"
                          class="form-control"
                          id="confirmPassword"
                        /><br>
                        <p id="password2ValidText" style="font-size:10px; color: rgba(255, 0, 0, 0.966);"></p>
                      </div>

                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="submit" disabled>
                        Change Password
                      </button>
                    </div>
                  </form>
                  <!-- End Change Password Form -->
                </div>
              </div>
              <!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
<script>
       // Email ID, username, password, and confirm password check
    const regForm = document.querySelector('#contactForm');
    const passReg = /^(?=.*?[a-z])(?!.*?[=?<>()'"\/\&]).{8,20}$/;
    const emailReg = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

    let passOne = regForm.elements.namedItem('password')
    let passTwo = regForm.elements.namedItem('confirmPassword')
	let button = document.getElementById('submit')

    passOne.addEventListener('input', validateReg);
    passTwo.addEventListener('input', validateReg);

    function validateReg(e) {

        let target = e.target;

        if (target.name == 'password') {
            let passValidity = document.getElementById('password1ValidText')
            if (passReg.test(target.value)) {
                target.classList.add('valid')
                target.classList.remove('invalid')
                passValidity.textContent = 'Password Secured';
                passValidity.classList.add('valid')
                passValidity.classList.remove('invalid')
				button.disabled = false;
            } else {
                target.classList.add('invalid')
                target.classList.remove('valid')
                passValidity.textContent = 'Password  must be at least 8 characters.';
                passValidity.classList.remove('valid')
                passValidity.classList.add('invalid')
				button.disabled = true;
            }
        }
        if (target.name == 'confirmPassword') {
            let pass2Validity = document.getElementById('password2ValidText');
            let pass1Value = document.getElementById('password').value;
            if (target.value == pass1Value) {
                pass2Validity.textContent = 'Passwords Matched';
                pass2Validity.classList.add('valid')
                pass2Validity.classList.remove('invalid')
				button.disabled = false;
            } else if (target.value == 0) {
                pass2Validity.textContent = ''
            } else {
                pass2Validity.textContent = 'Your passwords do not match'
                pass2Validity.classList.add('invalid')
                pass2Validity.classList.remove('valid')
				button.disabled = true;
            }
        }

    }


</script>

{% endblock %}